.navigation{
    background: linear-gradient(black,purple);
     display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    height: 250px;
    align-items: center;
    border-radius: 0 50px;
    box-shadow: 10px 10px 10px black;
    
    
}

.heading-portion{
   
    margin: 0 auto;
   
    font-size: 50px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* text-shadow: 6px 6px 6px red; */
}
.nav-menu{
    display: flex;
    margin-right: 100px;
}
.nav-menu ul{
 list-style-type:none;
  gap: 10px;
 
}
.nav-menu ul li{
          
}
.nav-menu ul li a{
      text-decoration: none;
      font-size: 30px;
      color: aliceblue;
     font-family: fantasy;
     padding: 15px;
}
 

.nav-menu ul li a:hover{
      transition: 3s;
  border-bottom:3px solid crimson;

}

/* main part */
.banner{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/files/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    width: 95%;
    height: 1100px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
       padding: 15px;}
.banner-card{
    width: 500px;
    border: 3px solid orangered;
    color: aliceblue;
    background-color: rgb(27, 35, 27);
    text-align: center;
    margin-left: 450px;
    height: 800px;
    margin-top: 100px;
}
.banner-login {
         color: azure;
         text-align: center;
         margin-right: 200px;
         margin-top: 100px;
}
.banner-login h1{
         font-size: 50px;
}
 .form{
    width: 500px;
    font-size: 35px;
    text-align: center;
    
    
 }
input[type="email"],input[type="password"]{
  display: block;
  width: 300px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  box-sizing: border-box;
  
}

.btn{
    font-size: 25px;
    background-color: crimson;
    padding: 20px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius:50px;
   color: azure;
   box-shadow: 10px 10px 10px black;
}
.catalog{
    background-color:rgb(65, 58, 58);
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    height: 1000px;
    overflow: scroll;
}
.catsec{
        text-align: center;
        font-size: 50px;
        color: aliceblue;
}

.catmain{
    display: flex;
    gap: 30px;
    margin:0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.catcard{
    border: 3px solid black;
    background-color: transparent;
    width: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
    color:whitesmoke ; 
    font-family: cursive;
    
}
.catbtn{
    width:200px;
    font-size: 30px;
    padding: 15px;
}

/* footer section */
.foot{
 background-color: rgb(103, 100, 100);
 color: aliceblue;
 margin: 0 auto;
 width: 95%;
 padding: 15px;
 height: 300px;
 display: flex;
 justify-content: space-between;
}

.address{
    font-size: 25px;
    margin-left:260px;
    margin-top: 40px;
}
.contact{
font-size: 25px;
display: flex;
gap: 10px;
align-items: center;
margin-right:160px;
}

.contact ul{

}
.contact ul li{
    list-style-type: none;
}
.contact ul li a{
    text-decoration: none;
    color: bisque;
    font-size: 40px;
}

.footimg img{
    border-radius: 50%;
    margin-top: 50px;
}

.contact ul li a:hover{
      border: 2px solid black;
      background-color:coral ;
      color: white;
      box-shadow: 10px 10px 10px purple;
      padding: 25px;
      border-radius:50px 0;
}